<!-- Main page Carousel START -->
<div
    class="container mx-auto sm:px-bb-container-sm md:px-bb-container-md lg:px-bb-container-lg pb-24 mb:10 2xl:mb-0 2xl:py-20 max-w-screen-2xl flex relative"
>
    <div
        class="cmp-carousel__nav swiper-buttons absolute bottom-4 left-1/2 -translate-x-1/2 2xl:translate-x-0 2xl:left-auto 2xl:top-2 2xl:right-32 w-28 h-12 flex justify-between z-50"
    >
        <div
            class="cmp-carousel__nav-prev swiper-nav !w-12 !h-12 !left-0 shadow-carousel-nav-shadow rounded-lg bg-white"
        >
            <i
                data-feather="chevron-left"
                class="feather-40 text-cyan-900"
                stroke-width="3"
            ></i>
        </div>
        <div
            class="cmp-carousel__nav-next swiper-nav !w-12 !h-12 !right-0 shadow-carousel-nav-shadow rounded-lg bg-white"
        >
            <i
                data-feather="chevron-right"
                class="feather-40 text-cyan-900"
                stroke-width="3"
            ></i>
        </div>
    </div>
    <div
        class="w-full h-auto shadow-banner-shadow rounded-md relative"
    >
        <div class="cmp-carousel w-full not-prose">
            <div class="cmp-carousel__go swiper">
                <div class="cmp-carousel__wrapper swiper-wrapper">
                    <!-- Cmp carousel item START -->
                    <div
                        class="cmp-carousel__item swiper-slide max-w-full"
                    >
                        <div
                            class="max-w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div
                                class="cmp-carousel__image flex-shrink-0 relative"
                            >
                                <img
                                    class="w-full object-cover"
                                    src="https://www.bursabinelui.ro/BursaBinelui/Content/CachedImages/15773.dbimg"
                                    alt=""
                                />
                                <div
                                    class="bg-orange-500 absolute bottom-8 p-2 sm:bottom-16 md:bottom-20 lg:bottom-28 lg:p-4"
                                >
                                    <h1
                                        class="font-inter-5 uppercase text-white text-xs md:text-md lg:text-lg xl:text-xl 2xl:text-2xl"
                                    >
                                        ONG-urile de pe Bursa
                                        Binelui
                                    </h1>
                                </div>
                                <h2
                                    class="bg-teal-500 absolute bottom-0 p-2 font-inter-5 text-white sm:bottom-8 md:bottom-12 text-xs md:text-md lg:text-lg 2xl:text-xl lg:p-4"
                                >
                                    Se pot programa la CivicTech
                                    911. Află cum aici...
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Cmp carousel item END -->

                    <!-- Cmp carousel repeatable items -->
                    <div
                        class="cmp-carousel__item swiper-slide max-w-full"
                    >
                        <div
                            class="max-w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div
                                class="cmp-carouselt__image flex-shrink-0 relative"
                            >
                                <img
                                    class="w-full object-cover"
                                    src="https://www.bursabinelui.ro/BursaBinelui/Content/CachedImages/15481.dbimg"
                                    alt=""
                                />

                                <div
                                    class="bg-orange-500 absolute left-8 bottom-8 py-2 px-4 sm:bottom-16 md:bottom-20 lg:bottom-28 lg:py-4 lg:px-8 lg:left-32"
                                >
                                    <h1
                                        class="font-inter-5 uppercase text-white text-xs md:text-md lg:text-lg xl:text-xl 2xl:text-2xl"
                                    >
                                        ...
                                    </h1>
                                </div>
                                <h2
                                    class="bg-teal-500 absolute left-8 bottom-0 py-2 px-4 font-inter-5 text-white sm:bottom-8 md:bottom-12 text-xs md:text-md lg:text-lg 2xl:text-xl lg:py-4 lg:px-8 lg:left-32"
                                >
                                    ...
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- Cmp project repeatable items -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main page Carousel END -->
