<div
    class="absolute right-8 top-4 sm:right-20 md:top-6 lg:relative lg:right-auto lg:top-auto">
    {% for localization in localizations %}
        <a href="{{ localization.url }}"
           title="{{ localization.locale }}"
           class="{{ localization.locale == app.request.locale ? ' text-teal-500 py-5' : '' }}">
            {{ localization.locale|upper }}
        </a>
    {% endfor %}
</div>
