<div
    class="container mx-auto px-bb-container-xs pt-3 mb-3 sm:pt-6 sm:mb-6 sm:px-bb-container-sm md:pt-12 md:mb-12 md:px-bb-container-md lg:pt-24 lg:mb-24 lg:px-bb-container-lg max-w-screen-2xl flex prose lg:prose-2xl">
    <div class="w-full 2xl:w-1/2">
        <h1
            class="double-color text-center 2xl:text-left font-inter-8"
        >
            Singura platformă online unde donațiile sunt
            necomisionate
        </h1>
        <div
            class="mt-5 mb-8 lg:mt-10 lg:mb-16 flex justify-center 2xl:block"
        >
            <button
                class="inline-flex items-center rounded-md border border-transparent bg-teal-500 px-2.5 py-1.5 text-xs sm:px-3 sm:py-2 sm:text-sm md:px-6 lg:py-3 md:text-base text-white font-inter-5 shadow-sm hover:bg-teal-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 transition duration-150 ease-in-out"
            >
                Donează către un proiect
            </button>
        </div>
    </div>
    <div class="hidden 2xl:block 2xl:w-1/2 2xl:relative">

    </div>
</div>
