<!-- Cmp article items -->
<div
    class="cmp-article__item flex flex-col overflow-hidden rounded-lg shadow-lg"
>
    <div class="cmp-article__image flex-shrink-0 relative">
        <img
            class="h-48 w-full object-cover"
            src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
            alt=""
        />
        <a
            href="#"
            class="cmp-article__tag absolute left-4 bottom-4 uppercase px-3 text-teal-700 text-regular font-inter-5 rounded-xl bg-white"
            >Educatie</a
        >
    </div>
    <div
        class="cmp-article__content flex flex-1 flex-col justify-between bg-white p-6"
    >
        <div class="flex-1">
            <p class="text-sm font-inter-5 text-black opacity-50">
                <a href="#" class="hover:underline">Article</a>
            </p>
            <a href="#" class="mt-2 block">
                <p class="text-xl font-inter-6 text-gray-900">
                    Importanta educatiei remediale in Romania in timpul
                    pandemiei
                </p>
                <p class="mt-3 font-inter-4 text-regular text-gray-500">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Architecto accusantium praesentium eius, ut atque fuga
                    culpa, similique sequi cum eos quis dolorum.
                </p>
            </a>
        </div>
        <div class="mt-6 flex items-center justify-between">
            <div class="cmp-article__date font-inter-4 text-sm text-gray-500">
                15.02.2022
            </div>
            <div class="cmp-article__read-more flex">
                <a
                    href="#"
                    class="text-teal-700 font-inter-5 text-sm mr-1 leading-6"
                    >Citeste articol</a
                >
                <i
                    data-feather="arrow-right"
                    id="my-arrow-right"
                    class="text-teal-700"
                    stroke-width="1"
                ></i>
            </div>
        </div>
    </div>
</div>
