<!--Proiect BCR carousel START -->
<div class="container mx-auto max-w-screen-2xl pt-8 pb-3 prose lg:prose-xl">
    <div class="cmp-bcr relative">
        <div
            class="cmp-bcr__top flex flex-col items-center 2xl:flex-row 2xl:items-start xs:px-bb-container-xs sm:px-bb-container-sm md:px-bb-container-md lg:px-bb-container-lg mx-auto w-full"
        >
            <h1
                class="text-cyan-900 text-center 2xl:text-left font-inter-8 mb-4 2xl:!mb-0"
            >
                BCR pentru comunitate
            </h1>
            <button
                type="button"
                class="rounded-md border border-transparent bg-teal-500 px-2.5 py-1.5 text-xs m:px-3 sm:py-2 sm:text-sm md:px-6 lg:py-3 md:text-base md:mt-2 md:ml-6 text-white font-inter-5 shadow-sm hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 transition duration-150 ease-in-out"
            >
                Vezi proiectele BCR
            </button>
        </div>
        <div
            class="cmp-project__nav swiper-buttons absolute bottom-4 left-1/2 -translate-x-1/2 2xl:translate-x-0 2xl:left-auto 2xl:top-2 2xl:right-32 w-28 h-12 flex justify-between z-50"
        >
            <div
                class="cmp-bcr__nav-prev swiper-nav !w-12 !h-12 !left-0 shadow-carousel-nav-shadow rounded-lg"
            >
                <i
                    data-feather="chevron-left"
                    id="my-chevron-left"
                    class="feather-40 text-cyan-900"
                    stroke-width="3"
                ></i>
            </div>
            <div
                class="cmp-bcr__nav-next swiper-nav !w-12 !h-12 !right-0 shadow-carousel-nav-shadow rounded-lg"
            >
                <i
                    data-feather="chevron-right"
                    id="my-chevron-right"
                    class="feather-40 text-cyan-900"
                    stroke-width="3"
                ></i>
            </div>
        </div>

        <div class="cmp-bcr__carousel w-full not-prose">
            <div
                class="cmp-bcr__go !pb-12 md:!pb-20 sm:pt-5 lg:pt-10 2xl:!pt-20 swiper swiper-initialized swiper-horizontal"
            >
                <div class="swiper-wrapper py-10">
                    <!-- Cmp BCR item START -->
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cmp BCR item END -->

                    <!-- Cmp BCR repeatable items -->
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-bcr__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-bcr__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-bcr__content w-full px-6 pt-6 pb-12 box-border"
                            >
                                <p
                                    class="cmp-bcr__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    BCR
                                </p>
                                <div
                                    class="cmp-bcr__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Scoala de bani
                                </div>
                                <div class="cmp-bcr__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cmp BCR repeatable items -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Proiect BCR carousel END -->
