<!--Project Carousel START -->
<div
    class="container mx-auto max-w-screen-2xl pt-4 2xl:pt-8 pb-2 prose lg:prose-xl"
>
    <div class="cmp-project relative z-20">
        <div
            class="cmp-project__top flex flex-col items-center 2xl:flex-row 2xl:items-start xs:px-bb-container-xs sm:px-bb-container-sm md:px-bb-container-md lg:px-bb-container-lg mx-auto w-full"
        >
            <h1
                class="text-orange-500 text-center 2xl:text-left font-inter-8 mb-4 2xl:!mb-0"
            >
                Doneaza pentru fapte bune
            </h1>
            <button
                type="button"
                class="rounded-md border border-transparent bg-orange-500 px-2.5 py-1.5 text-xs m:px-3 sm:py-2 sm:text-sm md:px-6 lg:py-3 md:text-base md:mt-2 md:ml-6 text-white font-inter-5 shadow-sm hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2"
            >
                Descopera proiecte
            </button>
        </div>
        <div
            class="cmp-project__nav swiper-buttons absolute bottom-4 left-1/2 -translate-x-1/2 2xl:translate-x-0 2xl:left-auto 2xl:top-2 2xl:right-32 w-28 h-12 flex justify-between z-50"
        >
            <div
                class="cmp-project__nav-prev swiper-nav !w-12 !h-12 !left-0 shadow-carousel-nav-shadow rounded-lg"
            >
                <i
                    data-feather="chevron-left"
                    id="my-chevron-left"
                    class="feather-40 text-cyan-900"
                    stroke-width="3"
                ></i>
            </div>
            <div
                class="cmp-project__nav-next swiper-nav !w-12 !h-12 !right-0 shadow-carousel-nav-shadow rounded-lg"
            >
                <i
                    data-feather="chevron-right"
                    id="my-chevron-right"
                    class="feather-40 text-cyan-900"
                    stroke-width="3"
                ></i>
            </div>
        </div>
        <div class="cmp-project__carousel w-full not-prose">
            <div
                class="cmp-project__go !pb-12 md:!pb-20 sm:pt-5 lg:pt-10 2xl:!pt-20 swiper"
            >
                <div class="cmp-project__wrapper swiper-wrapper py-10">
                    <!-- Cmp project item START -->
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cmp project item END -->

                    <!-- Cmp project repeatable items -->
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmp-project__item swiper-slide max-w-[376px]">
                        <div
                            class="w-full max-w-[376px] flex flex-col overflow-hidden rounded-lg shadow-lg text-left"
                        >
                            <div class="cmp-project__image flex-shrink-0">
                                <img
                                    class="!h-48 w-full object-cover"
                                    src="https://images.unsplash.com/photo-1492724441997-5dc865305da7?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1679&amp;q=80"
                                    alt=""
                                />
                            </div>
                            <div
                                class="cmp-project__content w-full p-6 box-border"
                            >
                                <p
                                    class="cmp-project__pretitle font-inter-5 text-regular text-black opacity-75"
                                >
                                    Asociatia EleviModel
                                </p>
                                <div
                                    class="cmp-project__title font-inter-7 text-medium text-gray-700 mt-4"
                                >
                                    Masa calda pentru elevi
                                </div>
                                <div class="cmp-project__tags">
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular mr-5"
                                        >National</span
                                    >
                                    <span
                                        class="font-inter-5 text-gray-700 text-regular"
                                        >Social</span
                                    >
                                </div>
                                <div class="cmp-project__value mt-12">
                                    <div
                                        class="cmp-project_values flex justify-between"
                                    >
                                        <div
                                            class="cmp-project_progress font-inter-7 text-medium2 text-cyan-900"
                                        >
                                            102200 lei
                                        </div>
                                        <div
                                            class="cmp-project_total font-inter-7 text-medium2 text-teal-500"
                                        >
                                            192200 lei
                                        </div>
                                    </div>
                                    <div class="w-full bg-gray-200 h-2.5">
                                        <div
                                            class="bg-cyan-900 h-2.5"
                                            style="width: 45%"
                                        ></div>
                                    </div>
                                </div>
                                <div class="cmp-project_donate">
                                    <button
                                        type="button"
                                        class="w-full py-1.5 md:py-2 mt-6 text-center font-inter-6 text-xs md:text-regular text-white bg-teal-500 rounded-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-500 focus:shadow-button-focus focus:outline-none transition duration-150 ease-in-out"
                                    >
                                        Doneaza
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cmp project repeatable items -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Project Carousel END -->
