<div
    class="border-solid border-b border-l-0 border-r-0 border-t-0 border-gray-300">
    <div
        class="container mx-auto px-bb-container-xs sm:px-bb-container-sm md:px-bb-container-md lg:px-bb-container-lg max-w-screen-2xl pt-20 sm:pt-6 pb-5 flex flex-wrap justify-between items-center relative">
        <a
            href="{{ sulu_content_root_path() }}"
            class="cursor-pointer mr-8 md:w-full xl:w-auto inline-block">
            <img
                class="max-w-logo md:max-w-full"
                src="{{ asset('build/website/images/content/logo.png') }}" alt="logo"/>
        </a>
        {% block mainNav %}
            {% include 'includes/header/main-nav.html.twig' %}
        {% endblock %}
        {% block search %}
            {% include 'includes/header/search.html.twig' %}
        {% endblock %}
        {% block auth %}
            {% include 'includes/header/auth.html.twig' %}
        {% endblock %}
        {% block lang %}
            {% include 'includes/header/lang.html.twig' %}
        {% endblock %}
    </div>
</div>
