<h1
    x-show="step != 'complete'"
    class="text-cyan-900 text-center lg:text-left font-inter-8 !mb-0"
    style="display: none"
>
    Creează cont
</h1>

<div
    x-show="step != 'complete'"
    class="my-6 prose prose-sm text-center lg:text-left"
    style="display: none"
>
    <span class="text-gray-600 font-inter-4"
    >Esti deja utilizator?
        <a
            href="#"
            class="text-teal-500 font-inter-5 no-underline hover:text-teal-700 hover:underline"
        >Intra in cont</a
        ></span
    >
</div>
